# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime Data
pids/
*.pid
*.seed

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Build Files
dist/
build/

# Coverage
coverage/