<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <%- include("componets/header") %>
    <div class="dashboard">

    <!-- LEFT PROFILE -->

    <div class="profile-card">

        <div class="banner"></div>

        <div class="live-badge">🟢 LIVE</div>
<div class="profile">
        <img src="https://avatars.githubusercontent.com/u/1024025?v=4"
             class="avatar avatars-2">
    <a href="#" class="profile-btn color-black">
            VIEW PROFILE
        </a>
        </div>
        <h1>Linus Torvalds</h1>

        <p class="username">@torvalds</p>

    

        <div class="details">
            <p>📍 Portland, OR</p>
            <p>🏢 Linux Foundation</p>
            <p>📅 Joined Sep 2011</p>
        </div>

        <div class="follow-row">
            <div>
                <span>FOLLOWERS</span>
                <h3>306,117</h3>
            </div>

            <div>
                <span>FOLLOWING</span>
                <h3>0</h3>
            </div>

        
        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="right-side">

        <!-- STATS -->

        <div class="stats-grid">

            <div class="mini-card">
                <span>REPOS</span>
                <h2>12</h2>
            </div>

            <div class="mini-card">
                <span>TOTAL STARS</span>
                <h2>248,094</h2>
            </div>

            <div class="mini-card">
                <span>FOLLOWERS</span>
                <h2>306,117</h2>
            </div>

            <div class="mini-card">
                <span>FOLLOWING</span>
                <h2>0</h2>
            </div>

        </div>

        <!-- SCORE -->

        <div class="score-card">

            <h4>GITHUB SCORE</h4>

            <h2>Composite Rating</h2>

            <div class="score-content">

                <div class="circle-score">
                    <div class="inner">
                        <h1>81.6</h1>
                        <span>PTS</span>
                    </div>
                </div>

                <div class="grade-section">

                    <h1 class="grade">A+</h1>

                    <span>GRADE</span>

                    <div class="bar-item">
                        <label>Followers</label>
                        <div class="bar">
                            <div class="fill w90"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <label>Stars</label>
                        <div class="bar">
                            <div class="fill w95"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <label>Repos</label>
                        <div class="bar">
                            <div class="fill w30"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <label>Forks</label>
                        <div class="bar">
                            <div class="fill w60"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
</body>
</html>